# for frontend

# compiled output
blocks/dist
blocks/tmp
blocks/out-tsc

# dependencies
blocks/node_modules
blocks/package-lock.json

# IDEs and editors
blocks/.idea
blocks/.project
blocks/.classpath
blocks/.c9/
blocks/*.launch
blocks/.settings/
blocks/*.sublime-workspace
blocks/.editorconfig

# IDE - VSCode
blocks/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
blocks/.sass-cache
blocks/connect.lock
blocks/coverage
blocks/libpeerconnection.log
blocks/npm-debug.log
blocks/testem.log
blocks/typings

# e2e
blocks/e2e/*.js
blocks/e2e/*.map

# System Files
.DS_Store
Thumbs.db
